#bottomMenu{
    width: 100%;
    height: 40px;
    bottom: 0%;
    background-color: #dddddd;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    position: absolute;
}
@font-face{
    font-family: "Monserat";
    src: url("../fonts/MontserratAlternates-Medium.otf");
}
body {
   margin: 0px;
   font-family: Monserat;
}
#centerPage{
    left:20%;
    width: 60%;
    top:10%;
    height: 80%;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    background-color: white;
    border-radius: 5px;
    position: absolute;
}
#upperCon{
    width: 100%;
    top:0px;
    height: 60px;
    background-color: #f17a8e;
    position: absolute;
}
#topContainer{
    width: 100%;
    top:3%;
    height: 6%;
    text-align: center;
    position: absolute;
}
#topContainerTxt{
    font-family: Monserat;
    font-size: 30px;
    color: #dddddd;
}
#productName{
    left:20px;
    top:20px;
    font-size: 20px;
    color: white;
    font-family: Monserat;
    position: absolute;
}
#centerCon{
    margin-top: 0px;
    left:5%;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    position: relative;
}
#arrowIndicatorCon{
    width: 100%;
    height: 50px;
    background-color: white;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    position: relative;
}
#leftArrowIndicatorCon{
    width: 50%;
    left:0px;
    height: 40px;
    top:5px;
    position: absolute;
}
#rightArrowIndicatorCon{
    width: 50%;
    left:50%;
    height: 40px;
    top:5px;
    position: absolute;
}
.redArrow{
    left:30px;
    height: 15px;
    width: 15px;
    top:12.5px;
    position: absolute;
}
.goodsOut{
    left:55px;
    top:10px;
    font-size: 17px;
    font-family: Monserat;
    position: absolute;
}
.detailContainer{
    width:100%;
    height: 100px;
    margin-top: 8px;
    background-color: white;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    position: relative;
}
#mainCenterCon{
    margin-top: 75px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-y: scroll;
    height: 80%;
    position: absolute;
}
.dateLabel{
    top:10px;
    left:30px;
    color: #dddddd;
    font-family: Monserat;
    position: absolute;
}
.quantityDiv{
    top:35px;
    height: 25px;
    left:30px;
    width: 300px;
    position: absolute;
}
.quantityLabel{
    top:2.5px;
    left:0px;
    color: #dddddd;
    font-family: Monserat;
    position: absolute;
}
.quantityValue{
    top:2.5px;
    left:100px;
    font-family: Monserat;
    position: absolute;
}
.valueDiv{
    top:65px;
    height: 25px;
    left:30px;
    width: 300px;
    position: absolute;
}
.redImage{
    right: 30px;
    top:42.5px;
    height: 15px;
    width: 15px;
    position: absolute;
}