@font-face{
    font-family: "Monserat";
    src: url("../assets/fonts/MontserratAlternates-Medium.otf");
}
#totalbox{
    top:85%;
    height: 13%;
    left: 5%;
    width: 90%;
    position: absolute;
}
#box1{
    width: 25%;
    height: 100%;
    position: absolute;
    position: absolute;
}
#box2{
    left:25%;
    width:25%;
    height: 100%;
    position: absolute;
    position: absolute;
}
#box3{
    left:50%;
    width:25%;
    height: 100%;
    position: absolute;
}
#box4{
    left:75%;
    width:25%;
    height: 100%;
    position: absolute;
}
.boxheading{
    margin-left: 15px;
    margin-top: 10px;
    color: #dddddd;
    font-size: 12px;
    font-family: Monserat;
    position: absolute;
}
.boxValue{
    right: 15px;
    bottom: 5px;
    color: black;
    font-weight: 900;
    font-size: 18px;
    font-family: Monserat;
    position: absolute;
}
#topDivider{
    width: 100%;
    height: 1px;
    top:0px;
    background-color:#dddddd;
    position: absolute;
}
.rightDivider{
    right: 0px;
    height: 100%;
    width: 1px;
    background-color:#dddddd;
    position: absolute;
}
#printStockCon{
    right: 160px;
    margin-top: 15px;
    height: 30px;
    width: 120px;
    text-align: center;
    background-color:#f17a8e;
    border-radius: 15px;
    position: absolute;
}
#stockStatusCon{
    right:300px;
    margin-top: 25px;
    height: 30px;
    width: 200px;
    font-family: Monserat;
    text-align: center;
    border-radius: 15px;
    position: absolute;
}
#stockStatus{
    font-size: 11px;
    font-family: Monserat;
}